* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background: rgb(245, 231, 211);

    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
}



.wrapper {
    background: rgb(247, 234, 217);


    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 5px 9px 10px 5px rgba(0.20, 0.20, 0.20, 0.20);
    -webkit-box-shadow: 5px 9px 10px 5px rgba(0.20, 0.20, 0.20, 0.20);
    border-radius: 5px 5px 5px 5px;
}



.sidebar {
    background: #1e2939;
    max-width: 320px;

    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 9px 20px 5px rgba(0.20, 0.20, 0.20, 0);
    -webkit-box-shadow: 5px 9px 20px 5px rgba(0.20, 0.20, 0.20, 0);
}

@media only screen and (min-width: 641px){
.two-container {

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 110px;
    padding-bottom: 110px;

}

}





.my-foto {

    max-width: 320px;
}

.Contactstitle {
    color: white;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    margin: 20px;
}

.Contacts--container {
    margin-top: 60px;
    margin-left: 40px;

    margin-bottom: 60px;
}

.contactslink {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: hsla(240, 22%, 85%, 0.425);
    margin: 0;
}

.litl {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    margin-left: 3px;
}

.Tech--Skills--container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.Tech-skill-item {
    color: #ffffff;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    margin: 20px;
}

.Tech-skill-item-small {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #942205;
    margin: 10px;
    margin-left: 30px;
}

.Tech-skill-text {
    color: #ffffff;
}

.Soft--Skills--container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 60px;
}

.Soft-skill-item {
    color: #ffffff;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    margin: 20px;
}

.Soft-skill-item-small {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #942205;
    margin: 10px;
    margin-left: 30px;
}

.Skills-text {
    color: #ffffff;
}

.profechion {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 23px;
}

.fameli {
    font-size: 45px;
    line-height: 89px;
    font-weight: 700;
    margin-bottom: 23px;
}

.profechion-container {
    margin-bottom: 65px;
}

.descrikchn {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #595959;
}

.myproject {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

.projects-link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #595959;
}

.techname {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #595959;
}

.myprojectalt {
    font-weight: 700;
    margin-left: 15px;
}

.projectscomtainer {
    margin-bottom: 55px;
}

.myprofechin {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
}

.Freelancetitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #aa2605;
}

.profechion-time {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #a8a8a8;

}

.profdivide {
    color: #000;
}

.profechion-duts {
    margin-top: 15px;
}

.profechion-duts-item {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #595959;
    margin-left: 20px;
}

.myprojecttime {
    margin-bottom: 10px;
}

.container-imeg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.container-imeg-vector {

    border: 1px solid #ffffff;
    background-color: antiquewhite;
}

.container-imeg-vectorin {

    border: 1px solid #ffffff;
    background-color: antiquewhite;
}

.container-imeg-vertorf {

    border: 1px solid #ffffff;
    background-color: antiquewhite;
}

.container-imeg-vectortv {

    border: 1px solid #ffffff;
    width: 27px;
    background-color: antiquewhite;
}

.compani_1{
    margin-bottom: 20px;
}


@media only screen and (min-width: 640px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

    }

    .sidebar {
        height: 100%;
    }



}
@media only screen and (max-width: 640px){
        .two-container {

        padding-left: 10px;
        padding-right: 10px;
        padding-top: 110px;
        padding-bottom: 110px;
    
    }
    .body{
        font-family: none;
    }
}